@media (min-width: 300px) and (max-width: 600px)
    .relation

    .relation__title
        padding-left: 10px
        font-size: 2rem
        font-weight: 600
        text-transform: uppercase
        letter-spacing: -1px
        color: $template-black

    .relation__title--span
        padding-left: 0
        font-weight: 300
        color: $template-orange

    .relation__truck
        padding-left: 12px
        text-transform: uppercase
        font-size: 1.2rem

    .relation__map
        min-width: 300px
        min-height: 480px
        overflow: hidden
        padding: 20px 10px

    .relation__map-title
        font-size: 2rem
        font-weight: 300
        text-transform: uppercase
        text-align: center
        color: #989898

    .relation__iframe-map
        font-size: 10px
        height: 480px
        max-width: 300px

    .relation__map-link
        color: #999
        padding: 7px 0
        font-size: 1.3rem
        display: inline-block

    .relation__txt
        padding: 10px 15px 0 15px
        font-size: 1.3rem
        text-align: justify
        color: $template-black

    .relation__gallery  // container for block: gallery
        margin-top: 20px

    .gallery
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: flex-start
        padding-bottom: 30px
        background-color: $template-black

    .gallery__header  // item flexbox gallery
        width: 100%
        padding: 15px 0

    .gallery__title
        font-size: 2.6rem
        font-weight: 300
        text-transform: uppercase
        text-align: center
        color: #989898

    .gallery__title--second-line
        font-size: 1.3rem
        font-weight: 400
        line-height: 1rem

    .gallery__column
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 46%

    .relation__image
        margin-top: 5%
        width: 100%
        border: 1px solid #545454

        // box-shadow: 0 0 0 2px #4a33206b

    // .relation__image--vertical
    //     width: 70%

    // jedna kolumna

    // .relation__galerry
    //     display: flex
    //     align-items: center
    //     justify-content: center
    //     flex-direction: column
    //     margin-top: 20px
    //     padding-top: 30px
    //     background-color: #f5f5f59c

    // .relation__image
    //     width: 80%
    //     margin-top: 25px
    //     box-shadow: 0 0 2px 1px #aaa

    // .relation__image--vertical
    //     width: 70%

    // testyyyyy

    .logo-test
        background-color: $template-black
        height: 8vh
        display: flex
        img
            margin: auto
            height: 60%

    .orange
        margin-top: 20px
        width: 100%
        height: 3rem
        font-size: 2.1rem
        text-align: center
        line-height: 3rem
        // background-color: $template-black
        text-transform: uppercase
        color: $template-black
        span
            color: $template-orange

    .line
        display: flex
        margin: auto
        width: 40%
        height: 1px
    .first-line
        width: 50%
        background-color: $template-orange
    .second-line
        width: 50%
        background-color: $template-black
